@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-neutral-50 dark:bg-black;
        overscroll-behavior: none;
    }

    body {
        @apply bg-neutral-50 text-neutral-900 dark:bg-black dark:text-neutral-50;
        overscroll-behavior: none;
    }
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2;
}